//
//  SwiftTreeSitter.xcconfig
//  SwiftTreeSitter
//
//  Created by Matt Massicotte on 2020-01-07.
//  Copyright © 2020 Example. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = SwiftTreeSitter
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.SwiftTreeSitter
PRODUCT_MODULE_NAME = SwiftTreeSitter
CURRENT_PROJECT_VERSION = 2
MARKETING_VERSION = 0.1

INFOPLIST_FILE = SwiftTreeSitter/Info.plist
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build/Mac $(PROJECT_DIR)/Carthage/Build/Mac/Static
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/tree-sitter $(PROJECT_DIR)/tree-sitter-go
SWIFT_INCLUDE_PATHS = $(inherited) $(PROJECT_DIR)/tree-sitter $(PROJECT_DIR)/tree-sitter-go
MACH_O_TYPE = staticlib

MACOSX_DEPLOYMENT_TARGET = 10.10
